!!!
%html
  %head
    %meta{:"http-equiv"=>"Content-Type", :content => "text/html; charset=utf-8" }
    %title= "ShipDaily &mdash; an ang.st blood pact"
    %meta{:name=>"Robots", :content=>"index,all"}
    = csrf_meta_tag
    = javascript_include_tag :defaults
    = stylesheet_link_tag "style"
    
  %body
    %div#wrapper
      #header 
        %h1
          = link_to "ShipDaily", root_url
        #auth
        - if current_user
          Signed in as
          =link_to current_user.name, current_user.github_url
          =link_to "Logout", logout_url
        - else
          =link_to "Login", login_url("github")
      #content
        = yield
      
      #footer
        %p an ang.st blood pact.
